html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #e1f5fe;
}


/*  Database View  */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-color: #a9a9a9;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/*  Test  */

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.homeText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.startButton {
    height: 10vw;
    width: 40vw;
    border-radius: 10px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
    font-size: 4vw;
}
.viewText {
    font-size: 1.5vw;
}
.results {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resultsText {
    font-size: 4vw;
}
.resultsChoiceText {
    font-size: 2vw;
}
