.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hcentered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.rectangle {
    height: 100%;
    width: 100%;
    background-color: red;
}
.startButton {
    height: 40px;
    width: 150px;
    border-radius: 5%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.results {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
