<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles.css" />
        <title>Reaction Time Test</title>
    </head>
    <body>
        <div class="centered rectangle"></div>
        <div class="centered startButton">Space to Start</div>
        <div class="centered" style="top: 60%" id="viewText">
            Or press v to view data recorded
        </div>
        <div class="hcentered">
            <h1 style="top: 10%"></h1>
            <h2 style="top: 20%"></h2>
        </div>
        <script type="text/javascript" src="../static/index.js"></script>
    </body>
</html>
