<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% if failed %}
        <p style="color: red">Incorrect Username or Password</p>
    {% endif %}
    <div>
        <form action="/login" method="POST">
            <label>Username: </label>
            <input name="username" type="text" placeholder="Username" autocomplete="off">
            <br>
            <br>
            <label>Password: </label>
            <input name="password" type="password" placeholder="Password">
            <br>
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
    <div>
        <form action="/register" method="GET">
            <input type="submit" value="Register Instead">
        </form>
    </div>
</body>
</html>