<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <h1>Logout</h1>
    {% if logged_in %}
        <p>Logout Successful!</p>
    {% elif not logged_in %}
        <p>You aren't logged in and therefore cannot log out.</p>
    {% endif %}
    <form action="/" method="GET">
        <input type="submit" value="Return Home">
    </form>


</body>
</html>