<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Profile</title>
</head>
<body>
    <div id="navbar">
        <div id="navbar_left">
            <form action="/" method="GET">
                <input type="submit" value="Home" class="nav_button" id="home_button">
            </form>
            <form action="/test" method="GET">
                <input type="submit" value="Test" class="nav_button" id="test_button">
            </form>
            <form action="/view" method="GET">
                <input type="submit" value="Leaderboard" class="nav_button" id="leaderboard_button">
            </form>
        </div>
        <div id="navbar_right">
            {% if not logged_in %}
                <form action="/login" method="GET">
                    <input type="submit" value="Login" class="nav_button" id="login_button">
                </form>
                <form action="/register" method="GET">
                    <input type="submit" value="Register" class="nav_button" id="register_button">
                </form>
            {% elif logged_in %}
                <form action="/profile" method="GET">
                    <input type="submit" value={{ username }} class="nav_button" id="profile_button">
                </form>
                <form action="/logout" method="GET">
                    <input type="submit" value="Logout" class="nav_button" id="logout_button">
                </form>
            {% endif %}
        </div>
    </div>
    <p>Unfinished! Check back later :)</p>
    <p>- Brian</p>
</body>
</html>