<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles.css" />
        <title>Reaction Time Test</title>
    </head>
    <body>
        <div class="app">
            <div class="navbar"></div>
            <div class="content" id="content">
                <div class="homeText">
                    <div class="startButton">Spacebar to Start</div>
                    <div class="viewText">Or press v to view data recorded</div>
                </div>
                <div class="results" id="results">
                    <h1 class="resultsText" id="resultsText"></h1>
                    <h2 class="resultsChoiceText">Spacebar: Record | d: Discard</h2>
                </div>
            </div>
        </div>
        <form action="/test" method="POST" id="submitResultsForm">
            <input name="rt" type="hidden" id="rtTag">
            <input name="pi" type="hidden" id="piTag">
        </form>
        <form action="/test" method="GET" id="skipResultsForm"></form>
        <form action="/login" method="GET" id="loginForm"></form>
        <script>let logged_in = {{ logged_in|tojson }};</script>
        <script type="text/javascript" src="../static/test.js"></script>
    </body>
</html>
