<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles.css" />
        <title>Reaction Time Test</title>
    </head>
    <body>
        <div class="app">
            <div id="navbar">
                <div id="navbar_left">
                    <form action="/" method="GET">
                        <input type="submit" value="Home" class="nav_button" id="home_button">
                    </form>
                    <form action="/test" method="GET">
                        <input type="submit" value="Test" class="nav_button" id="test_button">
                    </form>
                    <form action="/view" method="GET">
                        <input type="submit" value="Leaderboard" class="nav_button" id="leaderboard_button">
                    </form>
                </div>
                <div id="navbar_right">
                    {% if not logged_in %}
                        <form action="/login" method="GET">
                            <input type="submit" value="Login" class="nav_button" id="login_button">
                        </form>
                        <form action="/register" method="GET">
                            <input type="submit" value="Register" class="nav_button" id="register_button">
                        </form>
                    {% elif logged_in %}
                        <form action="/profile" method="GET">
                            <input type="submit" value={{ username }} class="nav_button" id="profile_button">
                        </form>
                        <form action="/logout" method="GET">
                            <input type="submit" value="Logout" class="nav_button" id="logout_button">
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="content" id="content">
                <div class="homeText">
                    <div class="startButton">Spacebar to Start</div>
                    <p style="font-size: 1.5rem;">
                        Instructions: At random intervals after you start, the screen will
                        turn green. When it turns green, press Spacebar as fast as you can!
                    </p>
                </div>
                <div class="results" id="results">
                    <h1 class="resultsText" id="resultsText"></h1>
                    <h2 class="resultsChoiceText">Spacebar: Record | d: Discard</h2>
                </div>
            </div>
        </div>
        <form action="/test" method="POST" id="submitResultsForm">
            <input name="rt" type="hidden" id="rtTag">
            <input name="pi" type="hidden" id="piTag">
        </form>
        <form action="/test" method="GET" id="skipResultsForm"></form>
        <form action="/login" method="GET" id="loginForm"></form>
        <script>let logged_in = {{ logged_in|tojson }};</script>
        <script type="text/javascript" src="../static/test.js"></script>
    </body>
</html>
