<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles.css" />
        <title>Reaction Time Test</title>
    </head>
    <body>
        <div class="page_wrapper">
            <div class="navbar">
                <div>
                    <form action="/" method="GET">
                        <input type="submit" value="Home"  id="home_button">
                    </form>
                    <form action="/test" method="GET">
                        <input type="submit" value="Test"  id="test_button">
                    </form>
                    <form action="/view" method="GET">
                        <input type="submit" value="Leaderboard"  id="leaderboard_button">
                    </form>
                </div>
                <div>
                    {% if not logged_in %}
                    <form action="/login" method="GET">
                        <input type="submit" value="Login"  id="login_button">
                    </form>
                    <form action="/register" method="GET">
                        <input type="submit" value="Register"  id="register_button">
                    </form>
                    {% elif logged_in %}
                    <form action="/profile" method="GET">
                        <input type="submit" value={{ username }}  id="profile_button">
                    </form>
                    <form action="/logout" method="GET">
                        <input type="submit" value="Logout"  id="logout_button">
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="content centered" id="test_page_content">
                <button id="test_page_start_button">START</button>
                <div class="centered" id="test_page_results_wrapper">
                    <h1>Results</h1>
                    <h3 id="test_page_results_text"></h3>
                    <button id="test_page_results_submit_button">Submit</button>
                </div>
                <h1>Instructions</h1>
                <ul class="centered">
                    <li>Click the start button to begin!</li>
                    <li>After start is clicked, the button will turn green. When it does, click again!</li>
                    <li>View your results and upload them to the leaderboard if you wish.</li>

                    {% if not logged_in %}
                    <li class="small">Note: <strong>You are not logged in!</strong> You will not be able to save your results.</li>
                    {% endif %}
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra nibh ut rutrum pulvinar. Praesent eu arcu nec ligula dapibus auctor. Suspendisse sit amet elit pharetra, porttitor eros non, iaculis lorem. Integer eu enim ultricies, accumsan nisi non, finibus velit. Nullam et ultrices purus. In hac habitasse platea dictumst. Nunc aliquam elit vel tellus sollicitudin, ut laoreet leo dignissim. Aliquam dictum tellus venenatis venenatis accumsan. Phasellus neque diam, pellentesque viverra tristique eu, hendrerit et mauris. Mauris ac quam non sapien gravida pharetra sed quis lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis nisi quis ultricies iaculis. In orci justo, lacinia id quam in, sollicitudin laoreet nunc. Mauris vel nisl vel ligula tincidunt commodo aliquet quis nisl. Sed maximus est a purus luctus commodo. Sed tristique ex in felis pellentesque pharetra.</p>
            </div>
        </div>
        <form action="/test" method="POST" id="submitResultsForm">
            <input name="rt" type="hidden" id="rtTag">
            <input name="pi" type="hidden" id="piTag">
        </form>
        <form action="/test" method="GET" id="resetTestForm"></form>
        <form action="/login" method="GET" id="loginForm"></form>
        <script>let logged_in = {{ logged_in|tojson }};</script>
        <script type="text/javascript" src="../static/test.js"></script>
    </body>
</html>
