<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles.css" />
        <title>View DB</title>
    </head>
    <body>
        <div id="navbar">
            <div id="navbar_left">
                <form action="/" method="GET">
                    <input type="submit" value="Home" class="nav_button" id="home_button">
                </form>
                <form action="/test" method="GET">
                    <input type="submit" value="Test" class="nav_button" id="test_button">
                </form>
                <form action="/view" method="GET">
                    <input type="submit" value="Leaderboard" class="nav_button" id="leaderboard_button">
                </form>
            </div>
            <div id="navbar_right">
                {% if not logged_in %}
                    <form action="/login" method="GET">
                        <input type="submit" value="Login" class="nav_button" id="login_button">
                    </form>
                    <form action="/register" method="GET">
                        <input type="submit" value="Register" class="nav_button" id="register_button">
                    </form>
                {% elif logged_in %}
                    <form action="/profile" method="GET">
                        <input type="submit" value={{ username }} class="nav_button" id="profile_button">
                    </form>
                {% endif %}
            </div>
        </div>
        <h1>Data</h1>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Timestamp</th>
                    <th>RT (ms)</th>
                    <th>PI (ms)</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for row in db %}
                <tr>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>
                        <form action="/view" method="POST">
                            <input
                                name="id"
                                type="hidden"
                                value={{
                                row[0]
                                }}
                            />
                            <input type="submit" value="X" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
