<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles.css" />
        <title>Leaderboard</title>
    </head>
    <body>
        <div class="navbar">
            <div>
                <form action="/" method="GET">
                    <input type="submit" value="Home"  id="home_button">
                </form>
                <form action="/test" method="GET">
                    <input type="submit" value="Test"  id="test_button">
                </form>
                <form action="/view" method="GET">
                    <input type="submit" value="Leaderboard"  id="leaderboard_button">
                </form>
            </div>
            <div>
                {% if not logged_in %}
                <form action="/login" method="GET">
                    <input type="submit" value="Login"  id="login_button">
                </form>
                <form action="/register" method="GET">
                    <input type="submit" value="Register"  id="register_button">
                </form>
                {% elif logged_in %}
                <form action="/profile" method="GET">
                    <input type="submit" value={{ username }}  id="profile_button">
                </form>
                <form action="/logout" method="GET">
                    <input type="submit" value="Logout"  id="logout_button">
                </form>
                {% endif %}
            </div>
        </div>
        <div class="content">
            <h1>Leaderboard</h1>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Timestamp</th>
                        <th>RT (ms)</th>
                        <th>PI (ms)</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in db %}
                    <tr>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>
                            {% if logged_in and username == row[6] %}
                            <form action="/view" method="POST">
                                <input
                                    name="id"
                                    type="hidden"
                                    value={{
                                    row[0]
                                    }}
                                />
                                <input type="submit" value="X" />
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <script> </script>
    </body>
</html>
